.cartao-tarefa {
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.cartao-tarefa:hover {
    background-color: #f0f0f0; /* Cor de destaque */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leve sombra para destaque */
}
